{% extends "base.html" %}


{% block content %}
<style>
body {
  background-image: url("https://www.desktopbackground.org/p/2013/06/21/595490_explore-tumblr-2560x1440-hd-wallpapers-and-free-stock-photo_2560x1440_h.jpg");
  /* background-color: #cccccc;  */
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
}
a {
  color: white;
  text-decoration-style: italic;
}
</style>
<body>
    <div id="pageintro" class="hoc clear">
      <article>
        <h1>Welcome to Pitch Thriller.</h1>
        <footer>
            {%if current_user.is_authenticated %}

          <ul class="nospace inline pushright">
            <li><a class="btn" href="/post">View Pitches</a></li> 
            <li><a class="btn" href="/post/{{current_user.username}}">My Pitches</a></li> 

            {% else%}</ul>
            <ul class="nospace inline pushright">
                <li><a class="btn" href="/post">View Pitches</a></li> 

            <li><a class="btn inverse" href="{{url_for('auth.register')}}">Join us today</a></li>
          </ul>{%endif %}
        </footer>
      </article>
    </div>
</body>


{% endblock %}