{% extends "base.html" %}


{% block content %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
<body>
    <div id="pageintro" class="hoc clear">
      <article>
        <h1>Welcome to Pitch Thriller.</h1>
        <footer>
            {%if current_user.is_authenticated %}

          <ul class="nospace inline pushright">
            <li><a class="btn" href="/post">View Pitches</a></li> 
            <li><a class="btn" href="/post/{{current_user.username}}">My Pitches</a></li> 

            {% else%}</ul>
            <ul class="nospace inline pushright">
                <li><a class="btn" href="/post">View Pitches</a></li> 

            
          </ul>{%endif %}
          <li><a class="btn inverse" href="{{url_for('auth.register')}}">Join us today</a></li>
        </footer>
      </article>
    </div>
</body>


{% endblock %} 